apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: devops
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'jenkins'
        metrics_path: '/prometheus'
        static_configs:
          - targets: ['172.19.120.118:8085']

      - job_name: 'spring-boot'
        metrics_path: '/student/actuator/prometheus'
        static_configs:
          - targets: ['spring-service:8080']


      - job_name: "node-exporter"
        metrics_path: /metrics
        static_configs:
          - targets: ["node-exporter.devops.svc.cluster.local:9100"]
